* {
    box-sizing: border-box;
  }
  body {
      margin: 0;
      min-width: 250px;
      background-color: rgba(84, 183, 240, 0.3);
      color: #070505;
      font-family: "Roboto", sans-serif;
  }

  div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }

.img-w150 {
    width: 150px;
    border-radius: 50%;
}

.menu {
  margin-top: 15px;
}

h5 {
  margin-top: 10px;
}